
#Aggregation by means of SUM
#xxx=SUM
#Aggregation by means of an average (this is the default for numeric values)
#yyy=MEAN
#No aggregation
#zzz=NONE


#NETWORK
receivedBytes=SUM
transmittedBytes=SUM
receivedBytesPerSecond=SUM
transmittedBytesPerSecond=SUM

#DISK
MemoryInfo.free=SUM
MemoryInfo.used=SUM

#JMX
NumberOfLocksAvailable=SUM
NumberOfLocksHeld=SUM
ReplicationFailures=SUM
SuccessRatio=NONE
ReplicationCount=SUM
NumberOfEntries=SUM
Evictions=SUM
RemoveMisses=SUM
Hits=SUM
RemoveHits=SUM
Stores=SUM
Misses=SUM
AvgNumOfLockSuccessLocalTx=SUM
NumAbortedTxDueTimeout=SUM
NumAbortedTxDueDeadlock=SUM
NumberOfCommits=SUM
NumberOfGets=SUM
NumberOfRemoteGets=SUM
NumberOfPuts=SUM
NumberOfLocalCommits=SUM
Throughput=SUM
LocalActiveTransactions=SUM
LocalRollbacks=SUM
Prepares=SUM
Rollbacks=SUM
LocalCommits=SUM
Commits=SUM=
LocalPrepares=SUM